<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h2>Buscar sucursales</h2>
            <form asp-action="SearchResults">
                <div class="form-group">
                    <label for="search">Buscar Servicios</label>
                    <input name="search" class="form-control" placeholder="Nombre del servicio" required />
                    <br />
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>